body {
  width: 60em;
  margin: 1em auto;

  max-width: 100vw;

  --background-color: #ffe8d6;
  --main-color: #0a9396;
}

body > * {
  margin: 0 1em;
}

body > header {
  display: flex;

  padding: 1em;

  background-color: var(--background-color);
}

body > header h1 {
  flex-grow: 1;
}

body > header a {
  color: var(--main-color);
  text-decoration: none;
}

body > header form {
  display: grid;
}

body > header form.login {
  grid-template-columns: auto auto;
  gap: 1em;
}

body > header form.login input {
  grid-column-end: span 2;
}

main {
  background-color: var(--background-color);

  margin: 1em;
  padding: 1em;
}

main a {
  color: var(--main-color);
  text-decoration: none;
}

main > header {
  display: flex;
}

main > header h2 {
  flex-grow: 1;
}

main > header input {
  align-self: center;
}

i.action {
  font-size: 0.8em;
}

#artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#artists article {
  display: grid;
  justify-content: center;
  width: 200px;
}

#artists article * {
  grid-column-start: 1;
  grid-row-start: 1;
}

#artists article a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #333;

  font-size: 1.5em;

  align-self: center;
  justify-self: center;

  text-align: center;
}

#albums {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#albums article {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

#albums article img {
  grid-row-end: span 2;
}

#albums article a {
  font-size: 2em;
  align-self: flex-end;
}

#albums article p.info {
  align-self: flex-start;
}

#tracks {
  width: 100%;
}

#tracks td, #tracks th {
  padding: 1em;
  text-align: left;
}

#tracks td:last-child, #tracks th:last-child {
  text-align: right;
}

form.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  max-width: 20em;
}

form.profile button {
  grid-column-start: 2;
}

footer {
  background-color: black;
  padding: 1em;
  color: white;
}

#messages article {
  margin: 1em 0;
  padding: 1em;
}

#messages article.success {
  background-color: #DFF2BF;
}

#messages article.warning {
  background-color: #FEEFB3;
}

#messages article.error {
  background-color: #FFD2D2;
}

#messages article.info {
  background-color: #BDE5F8;
}

@media only screen and (max-width: 540px) {
  #albums article {
    grid-template-columns: auto;
  }
}